title {
	display: block;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0px;
}
/* header */
header {
	background: #2e3440;
	display: flex;
	color: #eceff4;
}

.icon {
	margin-left: 20px;
}

/* main */
main {
	display: flex;
	flex-direction: row;
	height: 100vh;
}
/* sideNav */
.sidebar {
	width: 200px;
	background-color: #434c5e;
	padding-top: 10px;
	height: 100%;
	top: 0;
	left: 0;
}
.sidebar h3 {
	display: flex;
	justify-content: center;
}
#project-display {
	margin-top: 10px;
}

#project {
	color: #e5e9f0;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}
#active-project {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	background-color: #d8dee9;
	color: #2e3440;
}
.project-form-popup {
	display: none;
	position: fixed;
	left: 40vw;
	top: 20vh;
	transform: translate(-45%, 15%);
	border: 3px solid #d8dee9;
	z-index: 9;
	border-radius: 12px;
}

#add-project-form {
	max-width: 300px;
	padding: 50px;
	background-color: #2e3440;
	display: flex;
	flex-direction: column;
	color: #eceff4;
	border-radius: 12px;
}
#add-project-submit-button {
	border-radius: 6px;
	padding: 0.5rem;
	margin: 1em;
	background-color: #eceff4;
	color: #2e3440;
}
#project-name-input {
	padding: 0.5rem;
	background: #eceff4;
}

/* todo */
.todo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	background: #eceff4;
}
.selected-project-name-container {
	width: 100%;
	background: #d8dee9;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4rem;
}
#selected-project-name {
	width: 50%;
	padding: 1rem;
	margin: 0px;
}

#add-new-task {
	background: #3b4252;
	color: #e5e9f0;
	border-radius: 22px;
	padding: 0.6rem;
}

.task-form-popup {
	display: none;
	position: fixed;
	left: 45vw;
	top: 20vh;
	transform: translate(-45%, 15%);
	border: 3px solid #d8dee9;
	z-index: 9;
	border-radius: 12px;
}

#add-task-form {
	width: 250px;
	max-width: 300px;
	padding: 50px;
	background-color: #2e3440;
	display: flex;
	flex-direction: column;
	color: #eceff4;
	border-radius: 12px;
}
#task-title {
	padding: 0.5rem;
}
#task-date {
	padding: 0.5rem;
}
#task button {
	margin-left: auto;
}

#task-display {
	width: 80%;
}
#task {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
	background: #4c566a;
	color: #eceff4;
	border-radius: 12px;
	margin: 5px;
	justify-content: space-between;
}
#task input {
	width: 5rem;
}
#task title {
	width: 10rem;
}
#task description {
	width: 20rem;
}

/* Add Project button */
.bn3637 {
	margin-left: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #3b4252;
	backface-visibility: hidden;
	border: 0.3rem solid transparent;
	border-radius: 3rem;
}

.bn36 {
	border-color: #d8dee9;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
/* overlay */
#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
